<div class="jumbotron">
  <div class="container">
    <h1><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Patty Joe's Restaurant</h1>
    <h2>Come and <a href="#" data-toggle="tooltip" data-placement="bottom" title="Tooltip displays below">eat</a></h2>
  </div>
</div>
<div class="container">
  
  <div class="row">
    
    <div class="col-md-4 col-sm-6">
      <div class="menu-list">
        <h2>Burgers</h2>
        <%= image_tag("burger.jpg", :alt => "Burger items") %>
        <div class="menu-item">
          <h4 class="pull-left">All American</h4>
          <span class="pull-right">$7</span>
          <div class="clearfix"></div>
        </div>
        <div class="menu-item">
          <h4 class="pull-left">All American</h4>
          <span class="pull-right">$7</span>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    
    <div class="col-md-4 col-sm-6">
      <div class="menu-list">
        <h2>Chicken</h2>
        <%= image_tag("bbq.jpg", :alt => "Chicken items") %>
        <div class="menu-item">
          <h4 class="pull-left">Grilled</h4>
          <span class="pull-right">$6</span>
          <div class="clearfix"></div>
        </div>
        <div class="menu-item">
          <h4 class="pull-left">Fried</h4>
          <span class="pull-right">$6</span>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="menu-list">
        <h2>Drinks</h2>
        <%= image_tag("drink.jpg", :alt => "Chicken items") %>
        <div class="menu-item">
          <h4 class="pull-left">Bottled</h4>
          <span class="pull-right">$2</span>
          <div class="clearfix"></div>
        </div>
        <div class="menu-item">
          <h4 class="pull-left">Fountain</h4>
          <span class="pull-right">$1</span>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="menu-list">
        <h2>Desserts</h2>
        <%= image_tag("dessert.jpg", :alt => "Dessert items") %>
        <div class="menu-item">
          <h4 class="pull-left">Pie of the Day</h4>
          <span class="pull-right">$2</span>
          <div class="clearfix"></div>
        </div>
        <div class="menu-item">
          <h4 class="pull-left">Chocolate Pie</h4>
          <span class="pull-right">$2</span>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    
    <div class="col-md-4 col-sm-6">
      <div class="menu-list">
        <h2>Soups</h2>
        <%= image_tag("soup.jpg", :alt => "Soup items") %>
        <div class="menu-item">
          <h4 class="pull-left">Soup of the Day</h4>
          <span class="pull-right">$2</span>
          <div class="clearfix"></div>
        </div>
        <div class="menu-item">
          <h4 class="pull-left">Bread Bowl</h4>
          <span class="pull-right">+$1</span>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="menu-list">
        <h2>Salads</h2>
        <%= image_tag("salad.jpg", :alt => "Salad items") %>
        <div class="menu-item">
          <h4 class="pull-left">Roasted Chicken</h4>
          <span class="pull-right">$5</span>
          <div class="clearfix"></div>
        </div>
        <div class="menu-item">
          <h4 class="pull-left">Summer Harvest</h4>
          <span class="pull-right">+$1</span>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>